body {
  background-color: aliceblue;
  overflow: hidden;
}
body header {
  height: 4rem;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  border-bottom: solid black 1px;
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-size: 1rem;
  background-color: rgba(225, 233, 255, 0.5);
  z-index: 100;
}
body header .logo a img {
  position: absolute;
  left: calc(50% - 3rem);
  top: 0;
  height: 4rem;
  z-index: 1000;
}
body header .navigation {
  position: relative;
  height: 4rem;
  width: 100%;
  z-index: 900;
  justify-content: space-around;
  align-items: center;
}
body header .navigation ul {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}
body header .navigation ul li {
  padding: 0rem 2rem;
}
body header .icon {
  width: 30%;
  display: flex;
  position: relative;
  right: 3rem;
  justify-content: space-around;
  align-items: center;
}
body header .icon ul {
  display: flex;
  margin: 1.5rem;
  z-index: 1000;
  justify-content: flex-end;
  align-items: center;
}
body header .icon ul li {
  padding: 0rem 1rem;
}
body header .icon ul li svg {
  width: 28px;
  height: 28px;
}
body header .icon ul li span {
  border: 1.5px solid black;
  border-radius: 15px;
  padding: 0.3rem 0.8rem;
}
body .Proflie {
  position: relative;
  display: flex;
  height: 120vh;
  top: 0;
  height: 50vh;
  width: 100%;
  margin: 10rem 2rem 1rem;
  background-image: url(../image2/aoi.jpeg);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
}
body .Proflie span {
  font-family: "Kurale", serif;
  font-size: 12rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 1rem;
  margin-top: 10vh;
}
body .containier {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 600px;
  padding: 50px;
  background-color: aliceblue;
  box-shadow: 0 30px 50px rgb(210, 220, 228);
}
body .containier #slide {
  width: -moz-max-content;
  width: max-content;
  margin-top: 50px;
}
body .containier #slide .item {
  width: 300px;
  height: 400px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}
body .containier #slide .item .concent {
  position: absolute;
  top: 30%;
  left: -50px;
  width: 300px;
  text-align: left;
  padding: 0;
  color: #ff5454;
  transform: translate(0, -50%);
  display: none;
}
body .containier #slide .item .name {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-family: "Homemade Apple", cursive;
  opacity: 0;
  animation: showconcent 1s ease-in-out 1 forwards;
}
body .containier #slide .item .proflie {
  width: 250px;
  position: relative;
  left: -90px;
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  opacity: 0;
  background-color: rgba(146, 184, 225, 0.5);
  border-radius: 15px;
  justify-content: center;
  transform: rotate(-12deg);
  animation: showconcent 1s ease-in-out 0.8s 1 forwards;
}
body .containier #slide .item .proflie p {
  color: #000000;
  padding-left: 1rem;
  font-size: 12px;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
@keyframes showconcent {
  from {
    opacity: 0;
    filter: blur(33px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}
body .containier #slide .item:nth-child(1) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
body .containier #slide .item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
body .containier #slide .item:nth-child(2) .concent {
  display: block;
  z-index: 11111;
}
body .containier #slide .item:nth-child(3) {
  left: calc(50% + 220px);
}
body .containier #slide .item:nth-child(4) {
  left: calc(50% + 440px);
}
body .containier #slide .item:nth-child(5) {
  left: calc(50% + 680px);
}
body .containier #slide .item:nth-child(n+6) {
  left: calc(50% + 900px);
  opacity: 0;
}
body .containier #slide .buttons {
  position: absolute;
  bottom: -80px;
  z-index: 222222;
  text-align: center;
  width: 100%;
}
body .containier #slide .buttons button {
  width: 50px;
  margin-right: 40px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: 0.5s;
}
body .containier #slide .buttons button svg {
  width: 10px;
}
body .containier #slide .buttons button:hover {
  background-color: #b1c0d2;
}/*# sourceMappingURL=members.css.map */